* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
  margin: 0px;
  padding: 0px;
}
#nav_Bar {
  margin-top: -80px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.973);
  display: flex;
  gap: 20px;
  padding: 5px;
  box-sizing: border-box;
  justify-content: baseline;
  align-items: center;
}

.meanu_icon {
  width: 3%;
  margin-left: 10px;
}
.meanu_icon > i {
  font-size: 20px;
}
.youtube_Logo {
  width: 27%;
}
.youtube_img_div {
  width: 38%;
  text-align: left;
}
.youtube_img_div > a > img {
  width: 65%;
}

.search_Input_Div {
  display: flex;
  width: 38%;
}

.search_input_child_div {
  width: 90%;
  border: 1px solid rgb(160, 160, 160);
  height: 56%;
}
input {
  border: transparent;
  font-size: 16px;
  padding: 6px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  font-size: 16px;
}
.search_btn {
  background-color: #f9f9f9;
  width: 51px;
  padding: 7px;
  border: 1px solid rgb(94, 94, 94);
  cursor: pointer;
}
.mic_icon {
  margin-right: 30px;
  margin-left: 10px;
}
.mic_icon_btn {
  background-color: #f9f9f9;
  border-radius: 100%;
  border: none;
  width: 37px;
  height: 37px;
}
.mic_icon_btn > i {
  width: 10px;
  font-size: 14px;
}

.same_icon {
  margin-left: 8%;
}
.same_icon > i {
  margin-left: 30px;
  font-size: 18px;
  color: rgb(104, 104, 104);
}

.google_email {
  margin-left: 2%;
  width: 3%;
  height: 40px;
}

.firest_lettter {
  width: 80%;
  height: 35px;
  font-size: 15px;
  text-align: center;
  border-radius: 100%;
  border: none;
 
}


.firest_lettter > img{
  width: 100%;
}




#silder_meanu {
  /* display: none; */
  width: 70px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  text-align: center;
  top: 50px;
}

.silder_div_icon {
  margin-top: 25px;
}
.silder_meanu_small > a {
  text-decoration: none;
  color: black;
}

.silder_div_icon > i {
  font-size: 25px;
  margin-top: 19px;
}
.silder_div_icon > p {
  margin: 8px;
  padding: 0;
}

#Show_the_Search_videos {
  margin: auto;
  margin-top: 80px;
  width: 68%;
  align-items: center;
}

.Show_the_all_videos {
  cursor: pointer;
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}
.show_the_video {
  width: 35%;
}
.video_th {
  width: 100%;
}
.video_th > img {
  width: 100%;
}

.left_side_videos {
  width: 60%;
}
.video_views_month {
  margin-top: 10px;
}
.channel_logo_name {
  margin: 12px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.channel_logo_img {
  width: 30px;
  height: 30px;
}

.channel_logo_img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.videos_dec {
  width: 100%;
  height: 20px;
}
.videos_dec > p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
